@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans&display=swap');

body {
    font-family: 'Expletus Sans', cursive;

    margin: 0;
    padding: 0;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #060930;
    height: 90vh;
}

.custom-navbar {
    /* background-color: #060930; */
    background-color: #000000;
}

#white-text {
    color: #FFFFFF !important;
}

.card-custom-color {
    background-color: #0f3057;
}

#nav-link {
    color: white;
}

#center {
    text-align: center;
}

::-webkit-scrollbar {
  width: 0;
}

#scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  background: linear-gradient(to top, #008aff, #00ffe7);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}

#progressbar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(10px);
}

#progressbar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(30px);
}
